.each-job-details-card {
  width: 90%;
  min-height: 350px;
  background-color: #272727;
  list-style-type: none;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 22px;
  cursor: pointer;
  outline: none;
}
.company-logo {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.title-heading {
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.star-icon {
  color: #fbbf24;
  font-size: 20px;
  margin-right: 12px;
}
.rating {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
}
.star-container {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.location-icon {
  color: #ffffff;
  font-size: 20px;
  margin-right: 12px;
}
.middle-container {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.middle-wise-container {
  display: flex;
  flex-direction: row;
}
.main-middle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.package {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
}
.line {
  color: #b6c5ff;
  width: 100%;
}
.description {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 30px;
}
.description-paragraph {
  font-size: 15px;
  font-family: 'roboto';
  color: #f1f5f9;
  font-weight: 300;
}
.items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.skill-unorderded-list-container {
  padding-left: 0px;
  flex-wrap: wrap;
  display: flex;
}
.para {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  width: 60%;
}
.life-at-container {
  display: flex;
  justify-content: space-around;
}
.similar-description {
  color: #ffffff;
  font-family: Roboto;
  font-size: 25px;
  margin-bottom: 0;
  margin-left: 70px;
  margin-top: 30px;
}
.similar-jobs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 74px;
  padding-left: 0px;
}
.visit-icon {
  color: #6366f1;

  font-weight: 500;
  margin-right: 10px;
}
.visiting-icon {
  color: #6366f1;
  font-size: 20px;
  font-weight: 500;
}

.anchor-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.description-visit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bg-cont {
  background-color: #000000;
  min-height: 100vh;
  padding: 30px;
}

.skill-image {
  width: 40px;
  height: 40px;
  margin-right: 7px;
}
.skill-name {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
}
.skill-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  flex-wrap: wrap;
  margin-right: 30px;
}

.life-paragraph {
  font-weight: 10px;
  font-family: 'roboto';
  color: #f1f5f9;
  font-weight: 300;
}

.life-image {
  width: 300px;
  height: 250px;
  border-radius: 20px;
}
